:root {
  --header-logo-left-color: #2196f3;
  --header-logo-right-color: #000;
  --footer-logo-left-color: #2196f3;
  --footer-logo-right-color: #fff;
  --main-title-color: #212121;
  --second-title-color: #fff;
  --after-title-color: #757575;
  --accent-color: #2196f3;
  --background-iteam-color: #f5f4fa;
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;

  /* card-set */
  --iteam: 1;
  --indent: 30px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

p:last-child {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

body {
  font-family: var(--main-font);
  color: var(--main-title-color);
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.main-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* --------NET FLEX */

.card-set {
  display: flex;
  flex-wrap: wrap;

  margin: calc(-1 * var(--indent) / 2);
}

.card-set-iteam {
  flex-basis: calc((100% - var(--indent) * var(--iteam)) / var(--iteam));

  margin: calc(var(--indent) / 2);
}

/* -------Backdrop */

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 40px;

  height: 581px;
  width: 528px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background-color: #fff;
}

.modal-btn.is-hidden {
  opacity: 0;
}

.modal-form-field:not(:first-child) {
  margin-top: 10px;
}

.modal h2 {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.modal-form-label {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--after-title-color);
}

.modal-icon-wrap {
  position: relative;

  margin-top: 4px;

  height: 40px;
}

.modal-form-input {
  padding-left: 42px;

  width: 100%;
  height: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  background-color: transparent;
  cursor: pointer;

  outline: transparent;
}

.modal-form-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);

  fill: var(--main-title-color);
}

.modal-form-comment {
  margin-top: 4px;
  padding: 12px 16px;

  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  outline: transparent;
}

.modal-form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-input:focus {
  border-color: var(--accent-color);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-comment:focus {
  border-color: var(--accent-color);
}

.modal-form-check {
  margin-top: 20px;
  margin-bottom: 30px;
}

.check-text {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: var(--after-title-color);
}

.check-text a {
  color: var(--accent-color);
  text-decoration: underline 1px;
}

.check-text::before {
  content: '';

  margin-right: 7px;

  width: 16px;
  height: 15px;

  background-image: url(../images/modal-check-off.svg);
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 2px;
}

.input-check:checked + .check-text::before {
  background-image: url(../images/modal-check-on.svg);
}

.modal-close-btn {
  opacity: 1;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  justify-items: center;

  padding: 6px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  background: none;
}

.modal-close-icon {
  fill: #000;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #2196f3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ----------Header */

.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.header-logo {
  margin-right: 93px;
  display: block;

  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--header-logo-right-color);
}

.header-logo > span {
  color: var(--header-logo-left-color);
}

.header-nav-list {
  display: flex;
  margin-left: auto;
}

.header-nav-iteam:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;

  color: var(--accent-color);
}

.header-link.current::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;

  border-radius: 2px;

  background-color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-contacts-list {
  display: flex;
  margin-left: auto;
}

.header-contact-iteam:not(:last-child) {
  margin-right: 50px;
}

.header-contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--after-title-color);
  fill: #757575;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}

/* ----------------Hero section*/

.hero {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  max-width: 1600px;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 696px;

  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-title-color);
}
.main-btn {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  min-width: 200px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
.main-btn:focus {
  background-color: #188ce8;
}

/* -------------Benefits */
.benefits {
  padding-bottom: 47px;
}

.benefits-list {
  --iteam: 4;
  --indent: 30px;
}
.benefits-bloc-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;

  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
}
.benefits-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-after-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--after-title-color);
}

/* --------Features */

.features {
  padding-top: 47px;
}

.features-list {
  --iteam: 3;
  --indent: 30px;
}

.features-iteam {
  position: relative;
}

.features-img-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  background-color: rgba(47, 48, 58, 0.8);
}

/* -------Teams */
.teams {
  background: var(--background-iteam-color);
}

.teams-iteam {
  --iteam: 4;
  --indent: 30px;

  background-color: #fff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.teams-content {
  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;
  font-size: 16px;
  line-height: 1.18;
}

.team-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
}

.team-after-name {
  letter-spacing: 0.03em;
  color: var(--after-title-color);
  margin-bottom: 16px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-iteam {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.team-soc-iteam:first-child {
  margin-left: 0;
}

.team-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
}

.team-soc-icon {
  fill: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
  fill: #fff;
}

/* -------Regular-clients */
.regular-clients-list {
  --iteam: 6;
  --indent: 30px;
}

.regular-client-iteam {
  fill: #afb1b8;
}

.regular-client-link {
  border: 1px solid #afb1b8;
  border-radius: 4px;

  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;

  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-client-icon {
  fill: currentColor;
}

.regular-client-link:hover,
.regular-client-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
/* ----Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.footer-list {
  display: flex;
  align-items: baseline;
}

.footer-iteam:first-child {
  margin-right: 70px;
}

.logo-footer {
  margin-bottom: 20px;
  display: block;

  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--footer-logo-right-color);
}

.logo-footer > span {
  color: var(--footer-logo-left-color);
}

.footer-address-info {
  margin-bottom: 9px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #fff;
}

.footer-contact-iteam:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--accent-color);
}

.footer-soc {
  margin-right: 93px;
}

.footer-soc-title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #fff;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
}

.footer-soc-iteam {
  width: 44px;
  height: 44px;
}
.footer-soc-iteam:not(:last-child) {
  margin-right: 10px;
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;

  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-soc-icon {
  fill: #fff;
}

.footer-form {
  position: relative;
  right: 0;
}

.footer-form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  margin-bottom: 20px;
}

.footer-form-wrap {
  display: flex;
}

.input-footer {
  margin-right: 12px;
  padding-left: 16px;

  height: 50px;
  width: 358px;

  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
}

.input-footer:focus {
  border: 1px solid var(--accent-color);
}

.footer-btn {
  align-items: center;
}

.footer-send-icon {
  margin-left: 10px;

  fill: #fff;
}

/* -------Filter */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-iteam:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  background-color: var(--background-iteam-color);

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--second-title-color);

  background-color: var(--accent-color);
}

.filter-btn.current {
  color: var(--second-title-color);

  background-color: var(--accent-color);
}

/* --------Portfolio */

.portfolio-iteam {
  --iteam: 3;
  --indent: 30px;
  cursor: pointer;
}

.portfolio-link {
  display: block;
  text-decoration: none;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.potfolio-action {
  opacity: 1;

  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #fff;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .potfolio-action,
.portfolio-link:focus .potfolio-action {
  transform: translateY(0%);
}

.portfolio-text {
  padding: 20px 24px;

  border: 1px solid #eeeeee;
  border-top: none;
}

.potfolio-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.potfolio-after-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.66;
  letter-spacing: 0.03em;
  color: var(--after-title-color);
}
