.features {
  padding-top: 47px;
}

.features__list {
  --item: 3;
  --indent: 30px;
}

.features__item {
  position: relative;
}

.features__img-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  background-color: rgba(47, 48, 58, 0.8);
}
